* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;

  background-image: url('/Front-End-School-CSS-Project-Hero-Restaurant/assets/img/hero-restaurant.png');
  background-repeat: no-repeat;
}

.container {
  padding-top: 223px;
  padding-left: 165px;
}

h1 {
  font-size: 140px;
  color: white;
  margin-bottom: 35px;
  line-height: 127px;
  letter-spacing: -1.58px;
}

.burger-text {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-bottom: 35px;
  line-height: 34px;
}

.amount-section {
  width: 294px;
  border: 1px solid white;
  border-radius: 50px;

  margin-bottom: 34px;
}

.amount-section img {
  background-color: #FFC107;
  padding: 34px;
  border-radius: 50px;

  /* float: left; */
  vertical-align: middle;
}

.amount-section h3 {
  font-size: 40px;
  font-weight: bold;
  color: white;

  display: inline-block;
  margin-left: 21px;
}

.delivery-section {
  font-size: 12px;
  color: white;
}

.delivery-section img {
  float: left;
  margin-right: 20px;
}
